#playground-container {
            height: 500px;
            overflow: hidden !important;
            -webkit-overflow-scrolling: touch;
        }

        .main-login{
            background-color: #fff;
            /* shadows and rounded borders */
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

        }
        #button {
            border: 1px solid #ccc;
            margin-top: 28px;
            padding: 6px 12px;
            color: #666;
            text-shadow: 0 1px #fff;
            cursor: pointer;
            -moz-border-radius: 3px 3px;
            -webkit-border-radius: 3px 3px;
            border-radius: 3px 3px;
            -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
            -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
            box-shadow: 0 1px #fff inset, 0 1px #ddd;
            background: #f5f5f5;
            background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
            background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
            background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
            background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
            background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
        }
        .main{margin-left: 40px;}
        .main-center{
            margin-top: 30px;
            margin: 0 auto;
            width: 100%;
            padding: 10px 40px;
            background:#fff;
                color: #FFF;
            text-shadow: none;
            -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
        -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

        }
        span.input-group-addon i {
            color: #009edf;
            font-size: 17px;
        }

        .login-button{
            margin-top: 5px;
        }

        .login-register{
            font-size: 11px;
            text-align: center;
        }

        .bootstrap-select{
            width: 225px;
        }

        .bootstrap-select.btn-group .dropdown-menu.inner{
            padding: 20px;
        }
        .input-group-btn-vertical {
          position: relative;
          white-space: nowrap;
          width: 1%;
          vertical-align: middle;
          display: table-cell;
        }
        .input-group-btn-vertical > .btn {
          display: block;
          float: none;
          width: 100%;
          max-width: 100%;
          padding: 8px;
          margin-left: -1px;
          position: relative;
          border-radius: 0;
        }
        .input-group-btn-vertical > .btn:first-child {
          border-top-right-radius: 4px;
        }
        .input-group-btn-vertical > .btn:last-child {
          margin-top: -2px;
          border-bottom-right-radius: 4px;
        }
        .input-group-btn-vertical i{
          position: absolute;
          top: 2px;
          left: 4px;
        }
        
        /* #datepicker{width:180px; margin: 0 20px 20px 20px;} */
        #datepicker > span:hover{cursor: pointer;}
    

    /*map search*/
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 98%;
        width: 41.6%; float: left;
        margin-top: -15px;
        margin-left: 5px;
      }
      /* Optional: Makes the sample page fill the window. */
      
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;.6
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }


      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #000;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }
      .gmnoprint a, .gmnoprint span {
            display:none;
        }
        .gmnoprint div {
             background:none !important;  
        }
        #GMapsID div div a div img{
            display:none;
        }   
        .map_search input::-webkit-input-placeholder {color: #000;}
        .map_search input::-moz-placeholder {color: #000;}
        .controls{margin-top: 5px;}

        .imagePreview {
            width: 100%;
            height: 100px;
            background-position: center center;
          background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
          background-color:#fff;
            background-size: cover;
          background-repeat:no-repeat;
            display: inline-block;
        }
        .btn-primary-upload
        {
          display:block;
          border-radius:0px;
          margin-top:-5px;
          background-color:#009edf;

        }
        .imgUp
        {
          margin-bottom:15px;
          padding-left: 0px;
        }
        .del
        {
          position:absolute;
          top:0px;
          right:15px;
          width:30px;
          height:30px;
          text-align:center;
          line-height:30px;
          background-color:rgba(255,255,255,0.6);
          cursor:pointer;
        }
        .imgAdd
        {
          width:30px;
          height:30px;
          border-radius:50%;
          background-color:#009edf;
          color:#fff;
          box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
          text-align:center;
          line-height:30px;
          margin-top:0px;
          cursor:pointer;
          font-size:15px;
        }
        .add_photo{
          color: #fff;
          background: #0c506d;
          border-color: #0c506d;
          padding-left: 1px;
          padding-right: 1px;
          padding-top: 0px;
          padding-bottom: 2px;
        }
        .image_add{
          height: 30px;
          width: 30px;
        }
        .add_file_button{
          width: 10%;
        }

         .options-message {
            color: #c2c5d9;
            fill: #c2c5d9;
            position: relative;
            display: inline-block;
            cursor: pointer;
            vertical-align: middle;
            padding: 0px;
        }

        .options-message svg {
           width: 2px; height: 16px;
        }
        .post_hr{
          margin: 2px 0px;
        }

        /* show page */
.main-content{width: 90%; margin:0 auto;}
.quick-navigation{}
.quick-navigation .wrapper{width: 100%; background: #eee; overflow: hidden;}
.quick-navigation .wrapper ul{list-style: none;}
.quick-navigation .wrapper ul li{ float: left; padding: 0px 10px;}
.quick-navigation .wrapper ul li a{ text-decoration: none;}
.quick-navigation .wrapper ul li a:hover{color: #000;}
.slide-image .item{width: 100%; height: 480px;}
.slide-image .item img{width: 100%; height: 100%; object-fit: contain;}