.chosen-container{width: 50%!important;margin-bottom: 10px;}
.container_top_bar{display: block; margin-left: 25%;}
.travel_dialog { margin: 55px 346px !important;}
.chat-user-name b { color: #fff; }
.home_main_container{height: 91.5% !important;top: 54px !important;}
.home_container_top{height: 100%}
.user-item { color: #fff !important;}
.chat-search{right: 17px !important; width: 20.4% !important;}
.chat{right: 85% !important;}
.chat_search_box_panel { color: #fff !important; border: none !important;}
.fa-cog { color: #fff !important; }
.chat-search .fa-search { color: #fff !important;}
.chat{top:39% !important;}
.router-link-exact-active a {color: #fff !important;}
.home_set_box_panel { border: none !important;}
.aside-right .aside-right-activity{border: none !important;}
.authName{color: #fff;}
.description-aside{color:#b9b9b9 !important;}
