#map1  
    {  
        /*height: 300px; */ 
        width: 100%;  
        margin: auto auto;  
        /*border: solid 2px #0d6b7a;  
        //box-shadow: 5px 5px 30px grey;*/  
        -webkit-transform: translateZ(0);  
        z-index: 10;  
    }  
      
    #map1-canvas {  
        display: none;
        height: 100%;  
        width: 100%;  
        margin: 0px;  
        padding: 0px;  
        z-index: 10;  
    }  
    .controls {  
        margin-top: 16px;  
        border: 1px solid #0d6b7a;  
        box-sizing: border-box;  
        -moz-box-sizing: border-box;  
        height: 32px;  
        outline: none;  
        // box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);  
        background-color: floralwhite;  
        border-radius: 5px;  
    }  
      
    #pac-input {  
        background-color: #fff;  
        font-family: Roboto;  
        font-size: 15px;  
        font-weight: 300;  
        /*margin-left: 12px;*/  
        padding: 0 11px 0 13px;  
        text-overflow: ellipsis;  
        width: 100%;  
        z-index: 1081;  
    }  
      
    #pac-input:focus {  
        border-color: #0088FF;  
    }  
      
    .pac-container {  
        font-family: Roboto;  
    }  
      
    #type-selector {  
        color: #fff;  
        background-color: #4d90fe;  
        padding: 5px 11px 0px 11px;  
    }  
      
    #type-selector label {  
        font-family: Roboto;  
        font-size: 13px;  
        font-weight: 300;  
    }  
    .pac-container {  
        background-color: #FFF;  
        z-index: 20;  
        position: fixed;  
        display: inline-block;  
        float: left;  
    }  